@font-face {
    font-family: 'GreenLondon';
    src: url(/StylePracticeCSS/Fonts/Green\ London.ttf);
}

body{
    background: rgb(145,133,133);
    background: linear-gradient(90deg, rgba(145,133,133,1) 0%, rgba(212,212,223,1) 35%, rgba(0,212,255,1) 100%);
    
}
.DP{
    margin: 13% 25%;
    width: 50%;
    height: 25em;
    /* padding: center;   */
    background-color: rgb(119, 201, 201);
    text-align: center;
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.33);
    
}
.FBLOGO{
    width: 2%;
    margin: auto;
    padding: auto;

}
.ProfilePic{
    width: 18%;
    border-radius: 50%;
    padding: 1%;

}
.Font{
    font-family: 'GreenLondon';
    font-size: 30px;
    margin: 5px;
}
.Highlights:hover{
    text-decoration: none;
    color: rgb(15, 11, 11);
    border-radius: 50px;
    background-color: rgb(235, 239, 240);


}
.Highlights{
    margin: 6% 23%;
    width: 50%;
    padding: 5px;
}